<h1>Stupid Coaching</h1>
<div class="banner2">
  <h2><%= @question %></h2>
</div>


<div class="banner">
  <p><%= @answer %></p>
</div>

<button  type="button" class= "btn-primary"><%= link_to'Ask something new', ask_path %></button>
